* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section.forms {
  display: flex;
}

article.form {
  border: 1px solid #ccc;
  background-color: white;
  padding: 2em;
  width: 350px;
}

.form-control {
  margin: 2em 0;
  /* border: 1px solid red; */
}

label, input, select {
  display: block;
}

input, select {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  width: 100%;
}

label {
  color: #999;
  text-transform: uppercase;
  font-size: 12px;
}

.form-login h2 {
  font-size: 2em;
}

.form-login p {
  color: #999;
}

.btn {
  border: none;
  padding: 1em 2em;
  width: 100%;
  color: white;
  background-color: #333;
  border-radius: 0.5em;
}

.form-payment h3 {
  color: #00a3da;
  font-size: 1.5em;
}

.form-payment select {
  background-color: #def0f5;
  color: #00a3da;
  border-color: #00a3da;
}

.card-data {
  display: flex;
  gap: 1em;
}

.card-date div {
  display: flex;
  gap: 1em;
}

.card-total {
  display: flex;
  justify-content: space-between;
}

.card-price span {
  color: #00a3da;
  font-size: 1.5em;
  font-weight: bold;
}

.btn-buy {
  background-color: #00a3da;
}